<header class="head-area">
    <div class="header-container">
      <div class="logo">
        <h2 class="label"><span>Deep</span>Technology</h2>
      </div>
      <div class="mobile-nav">
        <i class="fas fa-bars"></i>
      </div>
      <div class="menu">
        <ul class="menu1">
            <li><a href="/" class="active">Blog</a></li>
            <li><a href="https://www.deepit.com" class="">www.deepit.com</a></li>
          <li><a href="/contectus" class="">Contact Us</a></li>
        </ul>
      </div>
    </div>
     
  </header>