<div class="pagination-container">
    <nav aria-label='Page navigation example'>
        <ul class='pagination'>
            <li class='page-item'>
                <a class="page-link pre" href="#" id="prev-button">Previous</a>
            </li>
            <li class='page-item'>
                <a class="page-link next" href="#" id="next-button">Next</a>
            </li>
        </ul>
    </nav>
</div>